In [11]:
import pandas as pd
import json

In [12]:
with open('screen_margin.json', 'r') as file:
    screen_file = file.read()

In [13]:
json.loads(screen_file)

{'top_width_margin': 100,
 'left_width_margin': 20,
 'right_width_margin': 20,
 'bottom margin': 100}

In [9]:
screen_file_df = pd.read_json(screen_file, orient ='index')

In [10]:
df2

                      0
top_width_margin    100
left_width_margin    20
right_width_margin   20
bottom margin       100

In [14]:

class Person():
    def __init__(self, per_name, per_age):
        self.name = per_name
        self.age = per_age
        self.salary = 100

    def display1(self):
        print("In superclass method: name:", self.name, "age:", self.age)
 

class Employee(Person):
    def __init__(self, emp_name, emp_age):
        super().__init__(emp_name, emp_age)
    
    def display2(self):
        self.employee_id = 1
        print("In subclass method: name:", self.name, "age:", self.age)
        

emp = Employee("John", 20)  # creating object of superclass
 
emp.display1()
emp.display2()
print("Outside both methods: name:", emp.name, "age:", emp.age)

In superclass method: name: John age: 20
In subclass method: name: John age: 20
Outside both methods: name: John age: 20

In [15]:
emp.salary

100

In [2]:
sample_dict = {'hello':{'one','two'}, 'world':{'three', 'four'}}

In [7]:
list(sample_dict.values())[0]

{'one', 'two'}

In [2]:
for key, value in sample_dict.items():
    print(key)
    print(value)

hello
{'two', 'one'}
world
{'three', 'four'}